ANTHROPIC_API_KEY=
HF_API_KEY=
REPLICATE_API_KEY=
PINECONE_API_KEY=
GOOGLE_API_KEY=
ALIYUN_DASHSCOPE_API_URL=https://dashscope.aliyuncs.com/api/v1/services/aigc/text-generation/generation
ALIYUN_DASHSCOPE_API_KEY=
ALIYUN_DASHSCOPE_MODEL_NAME=qwen-plus
